.lexend-deca {
    font-family: 'Lexend Deca', sans-serif;
}

.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("./assets/gb-buah-aren.jpg");
    /* background-repeat: no-repeat; */
    margin-left:-1px;
}

.contact .list-group-item {
    background-color: #4C2F0F;
    /* color: white; */
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: none;
    background-color: #30C04F;
  }
  
  .button:hover {
    background-color: #2bac47;
  }
.shadow {
    border-radius: 50px;
    background: #4C2F0F;
    box-shadow:  20px 20px 60px #331f0a,
                -20px -20px 60px #653f14;
}


@media only screen and (max-width: 1400px) {
    .peta .map {
        width: 540px;
    }
}
@media only screen and (max-width: 1200px) {
    .peta .map {
        width: 440px;
    }
}
@media only screen and (max-width: 992px) {
    .peta .map {
        width: 340px;
    }
}
@media only screen and (max-width: 400px) {
    .peta .map {
        width: 367px;
    }
    .pesan h6 {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}